@font-face {
  font-family: 'njnaruto';
  src: url('./Assets/njnaruto.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-image: url("https://www.wallpapertip.com/wmimgs/33-336738_konoha-background.jpghttps://i.ibb.co/7bxjmzm/630463.jpg");
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-color: #000;
background-attachment: fixed;
}


header {
  padding: 20px;
  text-align: center;
  font-family: "njnaruto";
  background-color: #37b857;
  height: 120px ;
}


header h1 {
  
  color: rgb(10, 70, 15);
  padding: 20px;
  text-align: center;
  font-family: njnaruto;

}